:root {
  --clr-primary: #13314d;
  --clr-secondary: #58b5be;

  --clr-white: #fff;
  --clr-black: #000;
  --clr-gray: #d9d9d9;
  --clr-darker-gray: #626262;
  --clr-light-bg: #f3feff;

  --brand-gradient: linear-gradient(
    90deg,
    var(--clr-primary) 0%,
    var(--clr-secondary) 100%
  );
}
